// -ms-overflow-style: none; /* Internet Explorer 10+ */
// scrollbar-width: none; /* Firefox */

::-webkit-scrollbar {
	display: none;
	width: 0 !important; /* Safari and Chrome */
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}
button {
	background-color: transparent;
	color: inherit;
	border-width: 0;
	padding: 0;
	cursor: pointer;
}
figure {
	margin: 0;
}
ul,
ol,
dd {
	margin: 0;
	padding: 0;
	list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-size: inherit;
	font-weight: inherit;
}
p {
	margin: 0;
}
cite {
	font-style: normal;
}
fieldset {
	border-width: 0;
	padding: 0;
	margin: 0;
}
input,
select {
	margin: 0;
}
html {
	box-sizing: border-box;
	font-size: 62.5%; //1rem = 10px.... 10/16px = 62.5%
	font-family: 'default-thin';
	color: $clr-white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@media screen and (max-width: 600px) {
	html {
		font-size: 50%;
	}
}
body {
	margin: 0;
	padding: 0;
	font-size: 4rem;
	background-image: url(../assets/images/rain.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	backdrop-filter: $blur-lg;
	width: 100vw;
	height: 100vh;
	max-width: 100vw;
	max-height: 100vh;
	overflow-x: hidden;
	overflow-y: hidden;
}

@font-face {
	font-family: 'default-normal';
	src: url(../assets/fonts/SF-Pro-Display-Regular.otf);
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'default-thin';
	src: url(../assets/fonts/SF-Pro-Display-Thin.otf);
	font-weight: normal;
	font-style: normal;
}
