.forecast {
	margin: 2rem 4rem;
	padding-bottom: 4rem;
	border-bottom: 2px solid $clr-gray;

	& h3 {
		font-size: 2.4rem;
		font-family: 'default-normal';
		color: $clr-white;
		padding: 2rem 1rem;
	}

	&__items {
		// margin: 0 2rem;
		overflow-y: auto;

		& ul {
			display: flex;

			& li {
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-direction: column;
				padding: 0 1rem;

				& img {
					width: 4rem;
				}

				& p {
					font-size: 2rem;
					font-family: 'default-thin';
					color: $clr-white;
				}
				& .day-one--temp {
					font-size: 1.6rem;
					font-family: 'default-thin';
					color: $clr-white;
				}
			}
		}
	}
}
