.loading-balls {
	visibility: hidden;

	--cube-size: 15rem;
	width: var(--cube-size);
	height: var(--cube-size);

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	grid-column: 1 / -1;
	grid-row: 1 / -1;
	place-self: center;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	overflow: hidden;

	&--all {
		width: 100%;
		height: 100%;
		border-radius: 50%;
		border: 1px solid $clr-gray-light;
	}

	&--1 {
		background-color: $clr-gray-light-20;
		animation: loading-cubes-1 1s ease-in-out 0.2s infinite forwards;
	}
	&--2 {
		background-color: $clr-black-40;
		animation: loading-cubes-2 1s ease-in-out 0.2s infinite forwards;
	}
	&--3 {
		background-color: $clr-black-40;
		animation: loading-cubes-3 1s ease-in-out 0.2s infinite forwards;
	}
	&--4 {
		background-color: $clr-gray-light-20;
		animation: loading-cubes-4 1s ease-in-out 0.2s infinite forwards;
	}
}

@keyframes loading-cubes-1 {
	0% {
		transform: translateX(0);
		background-color: $clr-gray-light-20;
	}

	100% {
		transform: translateX(100%);
		background-color: $clr-black-40;
	}
}
@keyframes loading-cubes-2 {
	0% {
		transform: translateY(0);
		background-color: $clr-black-40;
	}

	100% {
		transform: translateY(100%);
		background-color: $clr-gray-light-20;
	}
}
@keyframes loading-cubes-3 {
	0% {
		background-color: $clr-black-40;
		transform: translateY(0);
	}

	100% {
		transform: translateY(-100%);
		background-color: $clr-gray-light-20;
	}
}
@keyframes loading-cubes-4 {
	0% {
		transform: translateX(0);
		background-color: $clr-gray-light-20;
	}

	100% {
		transform: translateX(-100%);
		background-color: $clr-black-40;
	}
}
