.location-container {
	margin: 2rem 4rem;
	padding-bottom: 4rem;
	border-bottom: 2px solid $clr-gray;
}

.location-list {
	&__item {
		color: $clr-gray;
		font-size: 2rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem;
		border-radius: 5px;
		transition: 500ms all;
		cursor: pointer;

		&:hover {
			background-color: $clr-gray-light-20;
			color: $clr-white;
		}

		&--base {
			font-size: 2.4rem;
			font-family: 'default-normal';
			transition: 500ms all;
			padding: 2rem 1rem;
			border-radius: 5px;
			cursor: pointer;

			&:hover {
				background-color: $clr-gray-light-20;
			}
		}
	}
	// &__location {
	// }

	&__bookmark-icon {
		width: 2.4rem;
		height: 2.4rem;
		transition: 0.8s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
		cursor: pointer;

		&:hover {
			transform: rotate(10deg);
		}
		&:active {
			transform: rotate(0deg);
		}
	}
}

.location-active {
	color: $clr-white;
	background-color: $clr-gray-light-20;
}
