.right-panel {
	// Grid Placement on the main__container
	grid-column: 2;
	grid-row: 1 / -1;
	justify-self: end;

	// Size Settings
	height: 100%;
	width: 100%;
	max-width: $width-md;

	// Fx Settings
	background-color: $clr-black-40;
	border-radius: $radius-sm;
	box-shadow: $shadow-custom;
	backdrop-filter: $blur;
	overflow-y: auto;
	overflow-x: hidden;

	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */

	&::-webkit-scrollbar {
		display: none;
		width: 0 !important; /* Safari and Chrome */
	}
}

// Media Queries
@media screen and (max-width: 900px) {
	.right-panel {
		grid-column: 1 / -1;
		grid-row: 2 / -1;
		max-width: 100%;
	}
}
